body
 {
	margin:0;
	padding:0;
}
.fond
{
	height:100vh;
	background-image:url(../img/cup-of-coffee-1280537.jpg);
	background-repeat:no-repeat;
	background-position:center;
	min-width:100vw;
	overflow-x:hidden;
}

.barnav
 {
	margin: 0;
	padding:0;
	background:transparent;
}
.navbar  {
	background-color: rgba(0,0,0,.6);
	
}
.titre
 {
	color: red;
}
.cadre
 {
	border: 1px solid white;
	margin: 2px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
	color: white;
	text-shadow: 2px 2px 2px black;

}
h1, h2
 {
	font-family: 'Pacifico', cursive;
	color: white;
	text-shadow: 2px 2px 2px black;

}
